/* MAIN */

body{
    background-color: whitesmoke;
    text-transform: uppercase;
}

header svg{
    width: 300px;
}

header {
    margin-top: 30px;
    margin-left: 40px;
}

@font-face {
    font-family: "Avenir Next";
    src: url("asset/font/Avenir-Next.ttc");
}

/* BOARD */

main {
    margin-top: 123px;
}

main h1 {
    font-family: "Avenir Next";
    font-weight: 900;
    text-transform: uppercase;
    font-size: 55px;
    color: black;
    opacity: 0.5;
    margin-left: 115px;
}

main #filet {
    width: 250px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.5;
    margin-left: 115px;
}